@import url(https://fonts.googleapis.com/css?family=Lato);
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.para-slide {
    width: 100%;
    position: relative;
    text-align: center;
    height: 100vh;
}

.para-slide h1 {
    margin: 0;
    padding-top: 5%;
    font-size: 3.5em;
    color: white;
}

.para-slide h2 {
    margin: 0;
    padding-top: 5%;
    color: white;
    font-size: 2.75em;
}

.para-slide h3 {
    color: white;
    margin-top: 0;
}

.para-slide p {
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 65%;
    margin: auto;
}

/**Card Image*/

#CardImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.HomeBackground {
    background-size: cover;
    background-color: #0074D9;
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: center;
    height: 100%;
}

.companies {
    padding: 80px;
    background-color: #f5f5f5;
    text-align: center;
}
.CompsImg {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    
}

